*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 900;
    font-size: 80px;
    text-align: center;
}

h1, .title{
    font-family: 'Edu Tas Beginner';
}

.date{
    font-family: 'Sometype Mono';
}

/* flexbox and utilities*/
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.position-relative{
    position: relative;
}
/* containers and layout*/
.title-bg{
    background-image: url(../img/wall.png);
    padding: 20px 0;
}

.body-bg{
    background-image: url(../img/cork.png);
    padding: 40px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    width: 100%;
}
.column{
    width: 30%;
    margin: 20px 0;
}

.col-100{
    width: 100%;
}

/* page objects */
.polaroid{
    background-color: white;
    padding: 20px;
}
.polaroid-img, .polaroid-img img{
    width: 100%;
}
.polaroid-text{
    padding: 10px 0;
}
.pin{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* media query for responsiveness. Approach desktop first */
/* tablet */
@media screen and (max-width: 1280px){
    h1{
        font-size: 70px;
    }
    .column{
        width: 40%;
    }
}
/* mobile */
@media screen and (max-width: 768px){
    h1{
        font-size: 50px;
    }
    .column{
        width: 100%;
    }
}
