*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 900;
    font-size: 80px;
    text-align: center;
}

h1, .title{
    font-family: 'Edu Tas Beginner', sans-serif;
}

.date{
    font-family: 'Sometype Mono', 'monospace';
}

/* flexbox and utilities*/
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.position-relative{
    position: relative;
}
/* containers and layout*/
.title-bg{
    background-image: url(../img/wall.png);
    padding: 20px 0;
}

.body-bg{
    background-image: url(../img/cork.png);
    padding: 40px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row{
    width: 100%;
}
.column{
    width: 30%;
    margin: 20px 0;
}

.col-100{
    width: 100%;
}

/* page objects */
.polaroid{
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.5);
}
.polaroid-img, .polaroid-img img{
    width: 100%;
    cursor: pointer;
}
.polaroid-text{
    padding-top: 10px;
}
.title{
    font-size: 25px;
    font-weight: 900;
}
.date{
    color: #AAA;
}
.pin{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* overlay */
.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.overlay-hidden{
    display: none;
}
.overlay-active{
    display: block;
}
button{
    padding: 5px;
    cursor: pointer;

}
#overlay-btn-container{
    height: 10vh;
}
#overlay-img-container{
    height: 90vh;
    padding: 0 20px;
}
#overlay-img-container img{
    max-width: 100%;
}

/* hover animation */
.polaroid:hover{
    transform: scale(1.1) rotate(10deg);
    transition: 0.5s all;
}
.polaroid:hover .pin{
    display: none;
}

/* media query for responsiveness. Approach desktop first */
/* tablet */
@media screen and (max-width: 1280px){
    h1{
        font-size: 70px;
    }
    .column{
        width: 40%;
    }
}
/* mobile */
@media screen and (max-width: 768px){
    h1{
        font-size: 50px;
    }
    .column{
        width: 100%;
    }
}
